<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>New Zealand</string>
	<key>Projects</key>
	<array>
		<dict>
			<key>ProjectName</key>
			<string>Bachelors Degree</string>
			<key>ProjectBlurb</key>
			<string>Bachelor of Creative Technologies (Honours) (First Class), Auckland University of Technology, New Zealand (2009-2012), completed November 2012.
                
The Creative Technologies degree brings together computer science, engineering, visual arts and engineering in practical, hands on studio based projects. I specialised in educational technology, completing my honours research project titled The Peripatetic Learner: The Role of Mobility in Emerging Pedagogical Practices.
                
My practical work focused on iOS Development in the context of tertiary education to explore how new mobile technologies offer opportunities to re-think tertiary educational practices. The final dissertation was delivered in interactive iBook format.</string>
			<key>ProjectURL</key>
			<string>http://tiny.cc/peripateticlearner

</string>
			<key>ProjectImagePrefix</key>
			<string>akl0</string>
		</dict>
		<dict>
			<key>ProjectName</key>
			<string>Masters Degree</string>
			<key>ProjectBlurb</key>
			<string>Master of Creative Technolgies Degree at Auckland University of Technology, New Zealand (2013-2014), target completion July 2014.
                
A mix of theory and practical, my masters research examines the role of apps in tertiary education and the notion of the ‘killer app’. The practical component of this research includes a fully functional app which supports dialogue and collaboration in a classroom environment using adhoc networking and iBeacon technology.
                
The ‘Syncrasy' app is a tool for university students to collaborate in real time based on micro-locations within a physical classroom space and I intend to submit it for an Apple Design Award. </string>
			<key>ProjectURL</key>
			<string></string>
			<key>ProjectImagePrefix</key>
			<string>akl1</string>
		</dict>
		<dict>
			<key>ProjectName</key>
			<string>Work Experience</string>
			<key>ProjectBlurb</key>
			<string>Auckland University of Technology, Centre for Learning and Teaching, Research Internship, Learning and Teaching Technology Enabler (LATTE) August 2011 - Present:
                
CfLAT provides professional development for staff across AUT to develop and enhance teaching practice with a focus on implementing strategies that utilise new technologies to address issues of learning in a new age.
                
The responsibility of the LATTE team is to provide support for departments integrating the use of iPads in research, teaching, content management and creation. As a team leader, my responsibilities include identifying and addressing problems as they arise which has led to the implementation the university wide support structures we have in place today.
                
I devise and implement projects we undertake and liaise with other departments, institutions and the wider industry. Projects have included developing an extensive FAQ and series of documents and running hands on workshops.</string>
			<key>ProjectURL</key>
			<string>http://cflat.aut.ac.nz/?page_id=589</string>
			<key>ProjectImagePrefix</key>
			<string>akl2</string>
		</dict>
		<dict>
			<key>ProjectName</key>
			<string>Asciltie Conference</string>
			<key>ProjectBlurb</key>
			<string>Presentation at the Australasian Society for Computers in Learning in Tertiary Education conference.
Wellington 2012: Future Challenges, Sustainable Futures.
                
Conference presentation and published paper: The peripatetic learner - the role of mobility in the formation of collaborative learning spaces.</string>
			<key>ProjectURL</key>
			<string>http://bit.ly/1jPlH03</string>
			<key>ProjectImagePrefix</key>
			<string>akl3</string>
		</dict>
		<dict>
			<key>ProjectName</key>
			<string>Auckland Art Gallery App</string>
			<key>ProjectBlurb</key>
			<string>Auckland Art Gallery Audio Tour Guide (2010)
                
The Auckland City Art Gallery was exploring how to create a more engaging way of delivering a multimedia audio tour guide. I worked as part of a team to develop a proof of concept that explores possible ways to deliver such a product on the iOS platform.
            
This was my first iOS based project and we delivered a functional prototype.</string>
			<key>ProjectURL</key>
			<string></string>
			<key>ProjectImagePrefix</key>
			<string>akl4</string>
		</dict>
		<dict>
			<key>ProjectName</key>
			<string>Here and Now App</string>
			<key>ProjectBlurb</key>
			<string>Here and Now (2011) looked at the success of the 'daily deals' movement and aimed to create a location based iPhone application around the premise of finding and redeeming limited time 'deals' based on your location. </string>
			<key>ProjectURL</key>
			<string></string>
			<key>ProjectImagePrefix</key>
			<string>akl5</string>
		</dict>
		<dict>
			<key>ProjectName</key>
			<string>NZ Sound Walk App</string>
			<key>ProjectBlurb</key>
			<string>The brief for this project was simply to explore some aspect of 'sound' within the context of an emerging practise. I chose to explore the relationship between sound and place and created a prototype location based 'sound walk' for iOS. I used the iOS platform as a way of using the physicality of location as a way of manipulating sound. </string>
			<key>ProjectURL</key>
			<string></string>
			<key>ProjectImagePrefix</key>
			<string>akl6</string>
		</dict>
		<dict>
			<key>ProjectName</key>
			<string>The Great Exchange</string>
			<key>ProjectBlurb</key>
			<string>Project manager and developer on a prototype app implemented at AUT University to present ecological concepts in an interactive manner as a teaching resource.</string>
			<key>ProjectURL</key>
			<string></string>
			<key>ProjectImagePrefix</key>
			<string>akl7</string>
		</dict>
		<dict>
			<key>ProjectName</key>
			<string>Local Development Events</string>
			<key>ProjectBlurb</key>
			<string>I regularly attend and present at local technology and development related events around New Zealand. I have presented at events such as devMob and Codemania After Dark on topics related to iOS development, such as location awareness, Multipeer Connectivity, and Dual Screen apps. I regularly contribute talks at the monthly Auckland iOS Meetup.
                
I liase with Apple ANZ on education related events around Auckand and have been asked to speak on multiple occasions during the iPad Learning Tours. </string>
			<key>ProjectURL</key>
			<string></string>
			<key>ProjectImagePrefix</key>
			<string>akl8</string>
		</dict>
		<dict>
			<key>ProjectName</key>
			<string>Prezi Ambassador</string>
			<key>ProjectBlurb</key>
			<string>I was selected to be in the first round of the Prezi Campus Ambassador Program. My role was to actively promote the Prezi brand and products at AUT University. I created and executed a marketing plan which aimed to encourage students and faculty to contribute to the open exchange of ideas in the Prezi community. I created learning resources and ran multiple training workshops.
            
Prezi would regularly run design competitions amongst the ambassadors and I won an iPad for my April Fool's Day prezi, where I created a promotional presentation for a fictional iOS app called 'Undo'.

As a top performer in the program, I was selected for an on site internship at their head office in Budapest, Hungary.</string>
			<key>ProjectURL</key>
			<string>http://prezi.com/ambassadors/</string>
			<key>ProjectImagePrefix</key>
			<string>akl9</string>
		</dict>
	</array>
</dict>
</plist>
