<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>USA</string>
	<key>Projects</key>
	<array>
		<dict>
			<key>ProjectName</key>
			<string>Prezi</string>
			<key>ProjectBlurb</key>
			<string>During my internship at Prezi (August-September 2013), I worked remotely with the Presentations Matter team, based in Prezi’s San Francisco office, to create presentations for high stakes presenters and organisations as part of this team.
                
My role was to collaborate with speakers and high stakes presenters on creating these.</string>
			<key>ProjectURL</key>
			<string></string>
			<key>ProjectImagePrefix</key>
			<string>sfo0</string>
		</dict>
		<dict>
			<key>ProjectName</key>
			<string>WWDC</string>
			<key>ProjectBlurb</key>
			<string>Living at the bottom of the world, here in New Zealand we’ve got a small yet strong developer community. Not having had any formal development training, so much of what I’ve learned has been from interacting with those who are more experienced but just as passionate as I am.
                
I’ve previously been able to attend WWDC and the chance to learn from the worldwide community and directly from the Apple engineers is incredibly beneficial. I’ve returned home, newly motivated and inspired to make great things. I can attribute a lot of where I am in my study to having attended WWDC and I would be so privileged to have one last chance in the final year of my 18 years as a student to show you where I have gotten to in just a few short years of learning iOS development.

The outcome of my masters degree will be an app which I will take to the world. 'Syncrasy' is an app which enables adhoc networking based on location as a way of facilitating collaboration and discussion in a classroom setting.
                
I would love the opportunity to get feedback on it from the engineers in the labs and to have the chance to have it considered for an Apple Design Award. </string>
			<key>ProjectURL</key>
			<string></string>
			<key>ProjectImagePrefix</key>
			<string>sfo1</string>
		</dict>
	</array>
</dict>
</plist>
