<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Fiji</string>
	<key>Projects</key>
	<array>
		<dict>
			<key>ProjectName</key>
			<string>Digital Learning Room</string>
			<key>ProjectBlurb</key>
			<string>Aid project with Rotary and Apple to deploy iPads and supporting technological infrastructure to two high schools in rural Fiji. My role was to configure the iPads and server, source apps relevant to the local curriculum and culture, and to devise a training plan.
                
On the ground, I worked with the schools on the island of Taveuni to support the roll out, the training of teachers, and the introduction of the devices to students.</string>
			<key>ProjectURL</key>
			<string>http://www.fijitimes.com/story.aspx?id=260958</string>
			<key>ProjectImagePrefix</key>
			<string>tvu0</string>
		</dict>
	</array>
</dict>
</plist>
